New Character Form

<%= form_for @character do |f| %>
  <p>
    <%= f.label :name %> <br>
	<%= f.text_field :name %> 
  </p>
  
  <p>
    <%= f.label :class_type %> <br>
	<%= f.select :class_type, ["Cleric", "Fighter", "Rogue", "Wizard"] %> 
  </p>
  
  <p>
    <%= f.label :race %> <br>
	<%= f.select :race, ["Elf", "Dwarf", "Halfling", "Human"] %> 
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>